/*flex container for logo and nav*/
header {
  display: flex;
  font-family: Verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
  height: 75px;
  width: 600;
  border-bottom: 1px solid black;
  align-items: center;
  flex-wrap: nowrap;
}

/*Logo and Nav are flex items to header*/
.logo {
  flex-basis: 70px;
  margin: 10px 10px 10px 30px;
  display: inline-flex;
}

.name {
  color: MediumAquamarine;
  display: inline-flex;
}

.nav {
  display: inline-flex
  margin-left: auto;
}

.nav span {
  color: black;
  padding-right: 30px;
}
